<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books & Authors</title>
    <meta charset="UTF-8:">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Books & Authors</h1>
            <div id="navbar">
                <a href="/books">Books</a>
                <a href="/authors">Authors</a>
            </div>
        </div>

        <div id="info">
            <h2>{{header}}</h2>
            <h4>ID: {{id}}</h4>
            <h4>{{text_header}}</h4>
            <p>{{text}}</p>
            <br>
            <h4>{{assoc_header}}s</h4>
            <ul>
                {% for assoc in associations %}
                    <li>{{assoc.get_full_name}}</li>
                {% endfor %}
            </ul>
            
            <form>
                {% csrf_token %}
                <select required name="object_to_attach" id="selection-list">
                    <option selected disabled>-Select {{assoc_header}}-</option>
                    {% for assoc in complete_assoc_list %}
                        <option value="{{assoc.id}}">{{assoc.get_full_name}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="object_type" value="{{object_type}}">
                <input type="hidden" name="object_id" value="{{id}}">
                <input type="submit" class="attach-object" value="Add">
            </form>
        </div>



    </div>
</body>
</html>